In [2]:
from demoparser import DemoParser
import pandas as pd

parser = DemoParser(r"C:\Program Files (x86)\Steam\steamapps\common\Counter-Strike Global Offensive\csgo\replays\match730_003616389815731224751_1839561675_182.dem")
events = parser.parse_events("smokegrenade_detonate")
events = pd.DataFrame(events)

In [8]:
events = events.drop(['entityid', 'event_name'], axis=1)
events2 = events.drop(['player_steamid','tick','player_name','round'], axis=1)
events2 = events2.values.flatten()

In [ ]:
pd.set_option('display.max_rows', 166)
display(events)
pd.reset_option('display.max_rows')

In [9]:
a = parser.parse_players()
names = [entry['name'] for entry in a]
print(names)
country_map = {country: index for index, country in enumerate(names)}
country_map

['P1STON', 'Sehnsucht', 'Fmgeez', 'jadasek', 'OE', 'Vladiclavchik', 'EO g4skins', 'Vampirus', 'Wargon', 'Feen']

{'P1STON': 0,
 'Sehnsucht': 1,
 'Fmgeez': 2,
 'jadasek': 3,
 'OE': 4,
 'Vladiclavchik': 5,
 'EO g4skins': 6,
 'Vampirus': 7,
 'Wargon': 8,
 'Feen': 9}

In [22]:
events.to_excel('smokes222.xlsx')

In [290]:
df.iloc[78571]

X                           -734.983398
Y                          -1141.940552
Z                           11648.03125
health                                0
spotted                               0
equipment_value                    4200
round_start_eq_val                 3000
kills                               4.0
ammo                                NaN
flash_duration                      0.0
tick                              16337
steamid               76561197994427720
name                          Sehnsucht
Name: 78571, dtype: object

In [10]:
import numpy as np
from sklearn.preprocessing import LabelEncoder


ticks = events['tick'].values
wanted_props = ["X", "Y", "Z", "health", 'spotted','equipment_value','round_start_eq_val', 'kills','ammo','flash_duration']
df = parser.parse_ticks(wanted_props)
df = pd.DataFrame(df)

smokes_new = []
indexing = 0
for i in ticks:
    index_of_tick = df.index[df['tick'] == i][0]
    
    index_of_tick_start = index_of_tick - 2600
    index_of_tick_end = index_of_tick + 7199
    new_df = df.loc[index_of_tick_start:index_of_tick_end] 

    print(index_of_tick_start, index_of_tick_end)
    new_df = new_df.drop(['steamid','tick'], axis=1)
    combined_row = new_df.values.flatten()
    combined_row = np.append(combined_row, events2[indexing:indexing+3])
    smokes_new.append(combined_row)

    indexing += 3

54392 64191
60582 70381
63052 72851
76832 86631
81322 91121
83572 93371
100972 110771
101632 111431
109092 118891
125882 135681
139552 149351
163392 173191
163472 173271
163872 173671
182992 192791
183422 193221
194952 204751
195892 205691
197862 207661
206982 216781
207312 217111
226232 236031
226392 236191
258182 267981
258382 268181
258812 268611
263462 273261
264462 274261
279432 289231
280502 290301
280992 290791
296772 306571
300212 310011
306412 316211
317912 327711
325852 335651
328572 338371
342972 352771
344112 353911
344212 354011
344602 354401
355682 365481
363712 373511
366782 376581
383552 393351
384342 394141
421112 430911
421742 431541
424682 434481
438432 448231
449602 459401
450612 460411
465922 475721
466282 476081
486562 496361
489292 499091
508162 517961
534262 544061
534472 544271
535042 544841
536432 546231
556622 566421
556912 566711
558642 568441
583712 593511
584512 594311
613322 623121
613422 623221
614532 624331
617982 627781
645992 655791
647572 657371
648562 658361
650952 660751
667752 677551
671212 681011
673352 683151
689942 699741
703132 712931
703932 713731
704802 714601
705292 715091
711542 721341
712972 722771
725952 735751
727962 737761
728712 738511
729952 739751
737762 747561
757792 767591
758602 768401
763472 773271
763812 773611
771332 781131
784102 793901
790912 800711
797992 807791
813512 823311
815052 824851
817432 827231
818092 827891
825632 835431
851322 861121
855372 865171
856822 866621
862122 871921
871762 881561
890512 900311
892122 901921
892582 902381
895302 905101

In [11]:
smokes_new = pd.DataFrame(smokes_new)
smokes_new['thrower_name'] = events['player_name']
smokes_new = smokes_new.fillna(-2)
smokes_new.head(5)

,0,1,2,3,4,5,6,7,8,9,...,107794,107795,107796,107797,107798,107799,107800,107801,107802,thrower_name
0,-1031.319946,861.966980,11776.03125,100,0,200,200,5.0,12.0,0.0,...,4100,200,1.0,30.0,0.0,Feen,11778.031250,-301.967926,-887.135376,Fmgeez
1,-111.242317,-415.205200,11882.03125,100,0,200,200,5.0,12.0,0.0,...,4100,200,1.0,-1.0,0.0,Feen,11778.031250,578.336060,-1808.953003,P1STON
2,-833.233765,-173.878723,11776.03125,100,0,200,200,5.0,12.0,0.0,...,5100,4100,1.0,-1.0,0.0,Feen,11778.031250,506.728821,-2011.282959,Wargon
3,-732.479187,461.323944,11776.03125,100,0,4600,200,5.0,-1.0,0.0,...,5100,4100,1.0,30.0,0.0,Feen,11569.047852,-698.057373,-865.183594,Vladiclavchik
4,-955.005615,-696.865662,11848.06250,100,0,4600,200,5.0,20.0,0.0,...,5100,4100,1.0,30.0,0.0,Feen,-989.968750,-2653.332031,-577.540649,Fmgeez

In [12]:
categorical_columns = smokes_new.select_dtypes(include='object').columns
for column in categorical_columns:
    smokes_new[column] = smokes_new[column].map(country_map)

smokes_new.head(5)

,0,1,2,3,4,5,6,7,8,9,...,107794,107795,107796,107797,107798,107799,107800,107801,107802,thrower_name
0,-1031.319946,861.966980,11776.03125,100,0,200,200,5.0,12.0,0.0,...,4100,200,1.0,30.0,0.0,9,11778.031250,-301.967926,-887.135376,2
1,-111.242317,-415.205200,11882.03125,100,0,200,200,5.0,12.0,0.0,...,4100,200,1.0,-1.0,0.0,9,11778.031250,578.336060,-1808.953003,0
2,-833.233765,-173.878723,11776.03125,100,0,200,200,5.0,12.0,0.0,...,5100,4100,1.0,-1.0,0.0,9,11778.031250,506.728821,-2011.282959,8
3,-732.479187,461.323944,11776.03125,100,0,4600,200,5.0,-1.0,0.0,...,5100,4100,1.0,30.0,0.0,9,11569.047852,-698.057373,-865.183594,5
4,-955.005615,-696.865662,11848.06250,100,0,4600,200,5.0,20.0,0.0,...,5100,4100,1.0,30.0,0.0,9,-989.968750,-2653.332031,-577.540649,2

In [30]:

#smokes_new['stopped_rush'] = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
#smokes_new['label'] = [3,3,4,4,3,4,3,4,3,4,4,2,2,2,1,2,3,3,3,4,3,4,3,4]
#smokes_new['stopped_rush'] = [0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
#smokes_new['label'] = [3,3,3,4,4,3,5,3,3,4,3,3,4,2,3,3,3,2,3,2,3,4,4,4,2,2,3,3,3,2,3,3,2,3,3,4,3,3,4,3,3,3,3,4,3,3,3,4,2,3,3,4,3,3,4,4,3,3]
#smokes_new['stopped_rush'] = [0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
#smokes_new['label'] = [3,2,5,4,3,4,3,3,4,3,3,3,3,3,3,4,3,3,3,2,4,3,4,3,3,4,4,4,4,3,3,3,3,3,3,3,3,3,3,4,3,4,2,4,3,4,3,3,3,5,2,2,4,3,3,3,2,3,3,3,3,3,3,4,3,4,3,3,3,4,4,3,3,3,4,4,3,3,3,3,3,4,4,3]
smokes_new['stopped_rush'] = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
smokes_new['label'] = [3,3,3,3,3,3,4,4,3,4,4,3,4,3,3,4,2,3,5,3,3,3,3,3,3,4,3,3,3,4,4,3,4,3,4,4,3,3,3,4,3,3,3,4,3,2,3,3,3,3,3,4,2,3,3,4,3,3,3,4,4,3,4,3,4,2,3,4,3,3,2,2,3,3,3,3,2,2,2,3,3,3,4,3,4,2,3,3,3,4,3,4,3,3,2,3,4,4,3,3,3,4,3,2]
smokes_new.head(5)

C:\Users\tymot\AppData\Local\Temp\ipykernel_25332\2926328975.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  smokes_new['stopped_rush'] = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
C:\Users\tymot\AppData\Local\Temp\ipykernel_25332\2926328975.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  smokes_new['label'] = [3,3,3,3,3,3,4,4,3,4,4,3,4,3,3,4,2,3,5,3,3,3,3,3,3,4,3,3,3,4,4,3,4,3,4,4,3,3,3,4,3,3,3,4,3,2,3,3,3,3,3,4,2,3,3,4,3,3,3,4,4,3,4,3,4,2,3,4,3,3,2,2,3,3,3,3,2,2,2,3,3,3,4,3,4,2,3,3,3,4,3,4,3,3,2,3,4,4,3,3,3,4,3,2]

,0,1,2,3,4,5,6,7,8,9,...,107796,107797,107798,107799,107800,107801,107802,thrower_name,stopped_rush,label
0,-1772.563599,164.221420,11776.03125,100,0,850,200,-2.0,13.0,0.0,...,1.0,20.0,0.0,2,11746.03125,244.179291,-2386.478760,9,0,3
1,-592.483521,-242.981995,11776.03125,100,0,700,200,2.0,-1.0,0.0,...,3.0,-2.0,0.0,2,11605.84375,-144.030716,-2393.660400,6,0,3
2,-679.913208,-594.880066,11776.03125,100,0,700,200,2.0,7.0,0.0,...,3.0,-2.0,0.0,2,11778.03125,-492.871948,-250.106354,2,0,3
3,-1061.277588,-652.701172,11776.03125,100,0,700,200,2.0,7.0,0.0,...,3.0,-2.0,0.0,2,11778.03125,-341.490021,-436.412476,1,0,3
4,-1942.220093,106.523979,11776.03125,100,0,4500,200,3.0,9.0,0.0,...,3.0,-2.0,0.0,2,11778.03125,-637.747803,-1497.469849,3,0,3

In [151]:
#smokes.to_csv('smokes_data.csv',header='False', index='False', mode='a')

In [31]:
import csv

data = smokes_new.values.tolist()
with open('smokes_data.csv', 'a', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [4]:
smokes = pd.read_csv('smokes_data.csv', header=None)
smokes = smokes.drop(0)
#smokes = smokes.drop('Unnamed: 0', axis=1)
smokes

,0,1,2,3,4,5,6,7,8,9,...,107796,107797,107798,107799,107800,107801,107802,107803,107804,107805
1,-2248.283691,561.440613,11772.245117,100.0,0.0,4300.0,200.0,1.0,-1.0,0.000000,...,4.0,-2.0,0.0,6.0,11778.031250,-1188.286011,-1032.276001,7.0,0.0,3.0
2,-2317.757812,456.750458,11744.031250,100.0,0.0,4300.0,200.0,1.0,20.0,2.659702,...,4.0,-2.0,0.0,6.0,11554.031250,-48.543045,-2385.574219,6.0,0.0,2.0
3,-1031.319946,861.966980,11776.031250,100.0,0.0,5100.0,4300.0,3.0,-1.0,0.000000,...,4.0,-2.0,0.0,6.0,11778.031250,-271.599365,-1500.390625,4.0,1.0,5.0
4,-2411.572510,300.580505,11744.031250,100.0,0.0,5100.0,4300.0,3.0,20.0,0.000000,...,4.0,-2.0,0.0,6.0,11778.031250,-162.787277,-1603.562866,0.0,0.0,4.0
5,-2247.439941,33.029839,11552.031250,100.0,0.0,5100.0,4300.0,3.0,20.0,0.000000,...,4.0,-2.0,0.0,6.0,11778.031250,-88.303665,-1956.900757,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,-1776.624512,-946.738464,11488.031250,100.0,0.0,5600.0,4600.0,26.0,-1.0,0.000000,...,18.0,-2.0,0.0,2.0,11778.031250,-1167.655518,-1041.045044,8.0,0.0,4.0
269,-957.977234,-1096.692749,11716.031250,100.0,0.0,5600.0,4600.0,26.0,30.0,0.000000,...,18.0,-2.0,0.0,2.0,11778.001953,-82.814743,-135.948776,0.0,0.0,3.0
270,-957.992493,-1112.093262,11769.871094,100.0,0.0,5600.0,4600.0,27.0,22.0,0.000000,...,18.0,-2.0,0.0,2.0,11778.031250,-115.919716,-341.304138,4.0,0.0,2.0
271,-1690.665527,946.746338,11808.171875,100.0,0.0,5700.0,2900.0,13.0,30.0,0.000000,...,7.0,-2.0,0.0,6.0,-989.968750,-2635.832764,-480.989960,0.0,0.0,2.0
272,-1690.840454,883.765808,11786.031250,100.0,0.0,5700.0,2900.0,13.0,30.0,0.000000,...,7.0,-2.0,0.0,6.0,11743.031250,848.831970,-2277.488770,3.0,0.0,4.0

In [5]:
from sklearn.model_selection import train_test_split
features = smokes.iloc[:, :-2]
labels = smokes[107805]


train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.2, random_state=35)

In [77]:
pd.set_option('display.max_rows', 216)
display(test_features)
pd.reset_option('display.max_rows')

,0,1,2,3,4,5,6,7,8,9,...,107794,107795,107796,107797,107798,107799,107800,107801,107802,107803
77,-1806.626465,-1042.67688,11488.03125,100.0,0.0,3600.0,200.0,22.0,-1.0,0.0,...,5550.0,5050.0,14.0,12.0,0.0,6.0,11584.697266,-760.656189,-890.96582,5.0

In [16]:
survived = smokes[smokes[64014]==1]
deceased = smokes[smokes[64014]==0]
deceased = deceased.sample(n=len(survived), random_state=101)
dfy = pd.concat([survived,deceased],axis=0)

In [36]:
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error

label_encoder = LabelEncoder()
train_labels_encoded = label_encoder.fit_transform(train_labels)
test_labels_encoded = label_encoder.transform(test_labels)

model = xgb.XGBClassifier()
model.fit(train_features, train_labels_encoded) #xgb_model=r"C:\Users\tymot\Desktop\Projekty\Prawdopodobieństwa fragów\xgboostModel")

pred_labels_encoded = model.predict(test_features)
pred_labels = label_encoder.inverse_transform(pred_labels_encoded)

accuracy = accuracy_score(test_labels, pred_labels)
print('accuracy:',accuracy)
accuracy = mean_absolute_error(test_labels, pred_labels)
print('mse:',accuracy)

accuracy: 1.0
mse: 0.0

In [6]:
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error

#Zamień 1,2,3,4,5 na 0,1,2,3,4 
label_encoder = LabelEncoder()
train_labels_encoded = label_encoder.fit_transform(train_labels)
test_labels_encoded = label_encoder.transform(test_labels)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='softmax', input_shape=(107804,)),
    tf.keras.layers.Dense(64, activation='softmax'),
    tf.keras.layers.Dense(5, activation='softmax')
])

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(train_features, train_labels_encoded, epochs=100)

pred_labels_encoded = model.predict(test_features)
pred_labels_encoded = tf.argmax(pred_labels_encoded, axis=1)
pred_labels = label_encoder.inverse_transform(pred_labels_encoded)

accuracy = accuracy_score(test_labels, pred_labels)
print('accuracy:', accuracy)

mae = mean_absolute_error(test_labels, pred_labels)
print('MAE:', mae)

Epoch 1/10
7/7 [==============================] - 3s 7ms/step - loss: 1.5930 - accuracy: 0.5853
Epoch 2/10
7/7 [==============================] - 0s 8ms/step - loss: 1.5808 - accuracy: 0.5853
Epoch 3/10
7/7 [==============================] - 0s 7ms/step - loss: 1.5684 - accuracy: 0.5853
Epoch 4/10
7/7 [==============================] - 0s 8ms/step - loss: 1.5567 - accuracy: 0.5853
Epoch 5/10
7/7 [==============================] - 0s 8ms/step - loss: 1.5446 - accuracy: 0.5853
Epoch 6/10
7/7 [==============================] - 0s 7ms/step - loss: 1.5334 - accuracy: 0.5853
Epoch 7/10
7/7 [==============================] - 0s 6ms/step - loss: 1.5219 - accuracy: 0.5853
Epoch 8/10
7/7 [==============================] - 0s 6ms/step - loss: 1.5108 - accuracy: 0.5853
Epoch 9/10
7/7 [==============================] - 0s 6ms/step - loss: 1.4999 - accuracy: 0.5853
Epoch 10/10
7/7 [==============================] - 0s 6ms/step - loss: 1.4892 - accuracy: 0.5853
2/2 [==============================] - 0s 6ms/step
accuracy: 0.6181818181818182
MAE: 0.38181818181818183

In [25]:
new_data = smokes_new.iloc[35]
new_data = pd.DataFrame(new_data.values)
new_data = new_data.T

model.predict(new_data)

1/1 [==============================] - 0s 17ms/step

array([[0.17745386, 0.18216816, 0.24254365, 0.22196367, 0.17587069]],
      dtype=float32)

In [39]:
smokes_new

,0,1,2,3,4,5,6,7,8,9,...,107796,107797,107798,107799,107800,107801,107802,thrower_name,stopped_rush,label
0,-1772.563599,164.221420,11776.031250,100,0,850,200,-2.0,13.0,0.0,...,1.0,20.0,0.0,2,11746.031250,244.179291,-2386.478760,9,0,3
1,-592.483521,-242.981995,11776.031250,100,0,700,200,2.0,-1.0,0.0,...,3.0,-2.0,0.0,2,11605.843750,-144.030716,-2393.660400,6,0,3
2,-679.913208,-594.880066,11776.031250,100,0,700,200,2.0,7.0,0.0,...,3.0,-2.0,0.0,2,11778.031250,-492.871948,-250.106354,2,0,3
3,-1061.277588,-652.701172,11776.031250,100,0,700,200,2.0,7.0,0.0,...,3.0,-2.0,0.0,2,11778.031250,-341.490021,-436.412476,1,0,3
4,-1942.220093,106.523979,11776.031250,100,0,4500,200,3.0,9.0,0.0,...,3.0,-2.0,0.0,2,11778.031250,-637.747803,-1497.469849,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,-1039.822998,95.225456,11776.031250,97,0,5000,200,26.0,22.0,0.0,...,18.0,12.0,0.0,2,11778.031250,597.028870,-1792.298096,4,0,3
100,-1770.726807,-1035.267334,11488.031250,100,0,5600,4600,26.0,-1.0,0.0,...,18.0,-2.0,0.0,2,11537.650391,-572.469604,-758.566711,6,0,3
101,-1776.624512,-946.738464,11488.031250,100,0,5600,4600,26.0,-1.0,0.0,...,18.0,-2.0,0.0,2,11778.031250,-1167.655518,-1041.045044,8,0,4
102,-957.977234,-1096.692749,11716.031250,100,0,5600,4600,26.0,30.0,0.0,...,18.0,-2.0,0.0,2,11778.001953,-82.814743,-135.948776,0,0,3
103,-957.992493,-1112.093262,11769.871094,100,0,5600,4600,27.0,22.0,0.0,...,18.0,-2.0,0.0,2,11778.031250,-115.919716,-341.304138,4,0,2

In [151]:
smokes_new['map'] = smokes_new['map'].astype('category').cat.codes

In [41]:
new_data

,0,1,2,3,4,5,6,7,8,9,...,107796,107797,107798,107799,107800,107801,107802,107803,107804,107805
0,-2355.774414,-44.634747,11552.03125,0.0,0.0,5200.0,4700.0,25.0,-2.0,0.0,...,18.0,-2.0,0.0,2.0,11778.03125,577.594788,-1794.603149,4.0,0.0,4.0

In [106]:
new_data = smokes_new.iloc[34]
new_data = pd.DataFrame(new_data.values)
new_data = new_data.T
new_data[107804] = 0
new_data[107805] = 4
new_data
data = new_data.values.tolist()

with open('smokes_data.csv', 'a', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [86]:
new_data

,0,1,2,3,4,5,6,7,8,9,...,107794,107795,107796,107797,107798,107799,107800,107801,107802,107803
0,-1690.665527,946.746338,11808.171875,100.0,0.0,5700.0,2900.0,13.0,30.0,0.0,...,500.0,200.0,7.0,-2.0,0.0,6.0,-989.96875,-2635.832764,-480.98996,0.0

In [40]:
#new_data = smokes.iloc[155].drop([107804,107805])
new_data = smokes_new.iloc[31]
new_data = pd.DataFrame(new_data.values)
new_data = new_data.T
temp = model.predict_proba(new_data)
temp = temp[0]

suma = 0
iter = 1
for i in temp:
    suma += i * iter
    iter += 1
print(suma, temp)

3.2760836891829967 [0.01032191 0.05384585 0.5957232  0.3296446  0.01046441]

In [49]:
#new_data = smokes.iloc[84].drop([107805,107806])
for i in range(len(smokes_new)):
    new_data = smokes_new.iloc[i]
    new_data = pd.DataFrame(new_data.values)
    new_data = new_data.T
    temp = model.predict_proba(new_data)
    temp = temp[0]

    suma = 0
    iter = 1
    for j in temp:
        suma += j * iter
        iter += 1
    print(i, suma, temp)

0 3.03533860493917 [0.00107854 0.00337131 0.95586485 0.03850321 0.00118202]
1 3.084910752950236 [0.00329724 0.0270758  0.8565954  0.10748198 0.00554956]
2 3.010750892572105 [0.01189802 0.08312225 0.7944909  0.10330837 0.00718045]
3 3.0404192893765867 [0.00183817 0.00416966 0.9485116  0.04269617 0.00278447]
4 3.595409980043769 [0.00535868 0.02276712 0.35135496 0.6121441  0.00837515]
5 3.040850313846022 [0.00463426 0.0202319  0.9101862  0.05954452 0.00540313]
6 3.0281200321624056 [0.00208083 0.00278477 0.96157753 0.03204762 0.00150932]
7 3.012029941135552 [9.8945771e-04 1.6164141e-03 9.8255712e-01 1.4048947e-02 7.8810268e-04]
8 3.032109455554746 [0.00183764 0.01720752 0.9298207  0.04927613 0.00185802]
9 3.10339609766379 [0.00200019 0.00374154 0.8860567  0.10526537 0.00293624]
10 3.027095902711153 [0.0017851  0.00191236 0.9653324  0.02936164 0.00160847]
11 3.024694452062249 [0.00161162 0.00442275 0.9647858  0.02601912 0.00316068]
12 3.0040614067111164 [0.00127508 0.00378928 0.98703533 0.00539961 0.00250066]
13 3.0079778254730627 [0.00099619 0.0019417  0.9872011  0.0078104  0.00205067]
14 3.1261378517374396 [0.00938324 0.04032543 0.7789248  0.15750358 0.013863  ]
15 3.1158682014793158 [0.01174336 0.02156631 0.8203012  0.13185698 0.01453216]
16 3.5730129103176296 [0.00756881 0.03729245 0.34446368 0.5959073  0.01476782]
17 3.3484277734532952 [0.00784384 0.0495128  0.55079705 0.3700641  0.02178215]
18 3.165323991328478 [0.01192892 0.10577974 0.5976459  0.2743294  0.01031608]
19 3.173993745818734 [0.01683155 0.15101618 0.4974357  0.31076044 0.0239562 ]
20 3.036786586046219 [0.03668738 0.24710536 0.4052637  0.26462057 0.04632302]
21 3.011125600198284 [0.00213146 0.00621264 0.97252053 0.01666944 0.0024659 ]
22 3.004318075836636 [0.00130857 0.00501616 0.9834643  0.00847075 0.00174026]
23 2.9723521787673235 [0.00481708 0.04980547 0.9193127  0.0203377  0.00572704]
24 2.9911878099665046 [0.00725778 0.08226241 0.83243334 0.06812744 0.00991908]
25 2.988783801905811 [0.01410026 0.10163031 0.7779506  0.09402286 0.01229595]
26 3.120573823573068 [7.9616869e-04 7.7932659e-03 8.6214083e-01 1.2858000e-01 6.8972085e-04]
27 3.1479107975028455 [0.00400582 0.03643784 0.7719163  0.18291987 0.0047202 ]
28 2.9912372085964307 [6.5163802e-04 1.0778177e-02 9.8612076e-01 1.5798988e-03 8.6946820e-04]
29 3.0306140119209886 [0.00266097 0.00777846 0.9616347  0.01213699 0.01578881]
30 3.019908701768145 [0.00125076 0.00848473 0.9683266  0.01298063 0.00895722]
31 3.0580859878100455 [0.00421166 0.01181104 0.90879446 0.07204519 0.00313762]
32 3.5074340305291116 [0.0052228  0.02176013 0.44235015 0.5216939  0.008973  ]
33 3.012799306656234 [0.00157402 0.00182949 0.9802799  0.01485648 0.00146013]
34 3.1713998878840357 [0.00286268 0.01498099 0.79289764 0.18641128 0.00284744]
35 2.919602860696614 [0.00984726 0.12488106 0.8082334  0.04989813 0.00714016]
36 3.0124690115917474 [0.00209947 0.03085496 0.92141557 0.04373718 0.00189284]
37 3.0774886356666684 [0.00942924 0.04310418 0.818924   0.11763382 0.01090874]
38 3.025592566933483 [0.00327927 0.00679154 0.95491254 0.03109037 0.00392622]
39 3.036373260896653 [0.00362327 0.00508589 0.94692343 0.04002937 0.00433809]
40 3.1099675078876317 [0.00435285 0.00602649 0.8699282  0.11468501 0.00500742]
41 2.6541732996702194 [0.00647159 0.42029482 0.48939854 0.08025868 0.00357634]
42 3.091438503935933 [0.02170809 0.29370737 0.2841907  0.37222555 0.02816826]
43 3.252149434760213 [0.01598635 0.20067686 0.31982052 0.4422334  0.02128283]
44 2.992890659486875 [0.00202687 0.01849065 0.9669026  0.0097251  0.00285485]
45 3.021240131929517 [0.00468684 0.01773221 0.9390276  0.02876035 0.00979292]
46 3.0423623686656356 [0.00386174 0.02386531 0.9250311  0.02053207 0.02670967]
47 3.0412318336311728 [0.00301932 0.02182253 0.92751247 0.02619848 0.02144722]
48 2.997420149273239 [0.00175091 0.00687545 0.985829   0.00329189 0.00225276]
49 3.064152621431276 [0.00141578 0.00209024 0.9296246  0.06466454 0.00220487]
50 3.0521296225488186 [0.01156477 0.02721388 0.8706297  0.07871027 0.01188136]
51 3.0559798567555845 [0.00563508 0.01988306 0.89256966 0.07669117 0.005221  ]
52 3.1142515372484922 [0.01358011 0.05278067 0.7532492  0.16658759 0.01380241]
53 3.6805473170243204 [0.00565253 0.02006234 0.27017438 0.6963066  0.00780412]
54 3.025543244322762 [0.0025509  0.00318839 0.9648363  0.0250157  0.00440877]
55 3.053169075981714 [0.00157823 0.00317866 0.93726593 0.05645011 0.00152706]
56 3.219966908916831 [0.01324398 0.0194895  0.7172403  0.23410791 0.01591829]
57 3.0180519339628518 [0.00550808 0.01545068 0.9409481  0.03166765 0.0064255 ]
58 3.1303571527823806 [0.0125332  0.02800627 0.7887344  0.15802251 0.01270365]
59 3.881574325961992 [0.0024725  0.00665658 0.10045169 0.88766235 0.00275684]
60 3.511691989377141 [0.02008779 0.05152426 0.3483561  0.55667204 0.02335985]
61 3.221460398985073 [0.00303721 0.01039858 0.7516589  0.23187724 0.00302806]
62 3.8140667830593884 [0.00141863 0.00288374 0.17732427 0.816959   0.00141436]
63 3.1269227978773415 [0.00423137 0.02491627 0.81361693 0.15416916 0.00306629]
64 3.067848409002181 [7.2786224e-04 3.0343302e-03 9.2455888e-01 7.1019419e-02 6.5951567e-04]
65 3.2006239925976843 [0.00146626 0.00637969 0.78369135 0.20698902 0.00147365]
66 3.59148618998006 [0.00701536 0.03532495 0.3227388  0.6290001  0.00592081]
67 3.6507729473523796 [0.0066377  0.02802909 0.27885795 0.6808732  0.00560207]
68 3.2424551574513316 [0.0050914  0.00853653 0.7319162  0.24773696 0.00671886]
69 3.167542755138129 [0.00721677 0.00809496 0.80368763 0.1719298  0.00907079]
70 3.108867241302505 [0.00276773 0.01878889 0.84915906 0.12537687 0.00390742]
71 3.031983471242711 [0.00194533 0.20235838 0.5612516  0.23065703 0.00378771]
72 3.1249998866114765 [0.0023181  0.02532576 0.8196835  0.15038337 0.00228926]
73 3.2789506264962256 [0.00280675 0.04481325 0.6263357  0.3227112  0.00333311]
74 3.068546197609976 [0.0033811  0.01044594 0.90443474 0.0777219  0.00401628]
75 3.234212286537513 [0.00299785 0.02891486 0.7012288  0.264594   0.00226447]
76 3.270285534206778 [0.00421997 0.01709192 0.6879128  0.28573307 0.00504219]
77 3.4176834328100085 [0.01242137 0.19790715 0.16669469 0.6055205  0.01745635]
78 3.180744220269844 [0.00352328 0.00635748 0.7997539  0.1865825  0.00378285]
79 3.1034053021576256 [0.00242972 0.00632835 0.8797143  0.1084621  0.00306551]
80 3.1025631511583924 [0.00782264 0.01757655 0.8480465  0.11732363 0.00923069]
81 3.188838785979897 [0.00474423 0.00813199 0.7873038  0.19318077 0.00663922]
82 3.030149990459904 [0.00294003 0.00366491 0.9560625  0.03497044 0.00236218]
83 3.407551801763475 [0.00610948 0.0064544  0.5681817  0.4122836  0.00697081]
84 3.349244110286236 [0.0050766  0.00927976 0.62256837 0.35747343 0.00560183]
85 3.023979886667803 [0.001034   0.00222331 0.9699828  0.0252485  0.00151137]
86 3.1466187415644526 [0.00260431 0.01216612 0.82643044 0.15360443 0.00519463]
87 3.0045785550028086 [0.00124922 0.00405578 0.9847586  0.00873991 0.00119646]
88 3.328498648479581 [0.00730889 0.01069591 0.6331549  0.34386832 0.00497198]
89 3.5696311065985356 [3.4200787e-04 4.5104977e-04 4.2921814e-01 5.6921142e-01 7.7737519e-04]
90 3.066177890112158 [5.8382534e-04 3.7041283e-03 9.2599905e-01 6.8376407e-02 1.3366088e-03]
91 3.758255762513727 [0.00231978 0.01192413 0.21322377 0.77024525 0.00228708]
92 3.3924682318465784 [0.00120225 0.00567298 0.5946498  0.39640436 0.00207065]
93 3.151591509114951 [0.00294408 0.00977405 0.82207745 0.16315499 0.0020494 ]
94 3.8563510079402477 [0.0025083  0.00594836 0.12844136 0.8588882  0.00421381]
95 3.263864366337657 [0.01304312 0.1246121  0.46045426 0.38921845 0.0126721 ]
96 3.3082241849042475 [0.00590274 0.01976804 0.6461513  0.31655782 0.01162003]
97 3.0133304420742206 [4.8476015e-04 9.3682972e-04 9.8404366e-01 1.3832942e-02 7.0185651e-04]
98 3.0154139294172637 [4.3886277e-04 1.4557365e-03 9.8104310e-01 1.6377214e-02 6.8508706e-04]
99 3.044663849985227 [0.00152166 0.00310852 0.94964755 0.04062895 0.00509334]
100 3.3026628051884472 [0.00438493 0.01245762 0.66611224 0.3102001  0.0068451 ]
101 3.079051141627133 [0.00179223 0.04056568 0.8363221  0.11943845 0.00188147]
102 3.0226221767952666 [0.00146634 0.00472325 0.9660579  0.02522703 0.0025255 ]
103 3.298706531524658 [0.00146412 0.00187691 0.69491345 0.29997945 0.00176609]
104 3.0600384830031544 [0.00173555 0.00190207 0.9323706  0.06257214 0.00141969]
105 3.371451138984412 [0.00773686 0.01664937 0.5812924  0.38506874 0.00925268]
106 3.011776660801843 [0.00291082 0.00345154 0.97492903 0.01636728 0.00234131]
107 3.5718903886154294 [0.00786722 0.00494143 0.44839728 0.485022   0.05377209]
108 3.448346539400518 [0.00999298 0.01313274 0.5018922  0.46849898 0.00648311]
109 3.3893820848315954 [0.00668271 0.03515223 0.52485627 0.4287178  0.00459099]
110 3.089608111884445 [0.00773432 0.01954495 0.8553062  0.11020728 0.00720723]

In [9]:
new_data

,0,1,2,3,4,5,6,7,8,9,...,64004,64005,64006,64007,64008,64009,64010,64011,64012,64013
0,-971.916504,757.763428,11776.03125,100.0,0.0,5800.0,4400.0,6.0,-1.0,0.0,...,0.0,5800.0,4400.0,6.0,-2.0,0.0,11531.902344,-549.474792,-772.823547,0.0

In [63]:
smokes.value_counts([107805])

107805
3.0       161
4.0        74
2.0        30
5.0         4
1.0         1
dtype: int64

In [13]:
model.save_model("xgboostModel")

In [ ]:
pd.set_option('display.max_rows', 277)
display(smokes)
pd.reset_option('display.max_rows')